# ignore file 
local_data.json
.gitattributes
*.json
*.csv

# ignore folders 
__pycache__/
.ipynb_checkpoints/
.tmp.driveupload/
Archieve/
NLP4PI-Paper 14/
ResearchPaper/
Word Net and Concept Net/
venv/
.venv/


